* {
  font-family: Source Code Pro;
  font-size: 11px;
}

window#waybar {
  background-color: transparent;
  color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 0px transparent;
  border-radius: 0px;
  transition-duration: 0.5s;
  margin: 0px;
}

#workspaces button {
  padding: 0 0px;
  color: #898caa;
  background-color: #adefac;
  border-radius: 0px;
}

#workspaces button.focused {
  color: #eb6f92;
  background-color: #26233a;
}

#workspaces button.active {
  color: #fceb2d;
}

#workspaces button.urgent {
  background-color: #eb6f92;
}

#clock,
#battery,
#cpu,
#tray,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-backup,
#custom-pacman,
#custom-clear-ram,
#memory,
#workspaces {
  padding: 0 8px;
  border-radius: 0px;
  background-color: rgba(31, 37, 48, 0.0);
}

#workspaces button {
  background-color: transparent;
  color: #cecacd;
}

#cpu {
  color: #ebbcba;
  background-color: #26233a;
}

#memory {
  color: #f6c177;
}

#pulseaudio {
  color: #9ccfd8;
}

#backlight {
  color: #9ccfd8;
}

#clock {
  color: #ebbcba;
}

#battery {
  color: #c0caf5;
}

#disk {
    color: #c4a7e7; 
}

#network {
  color: #c4a7e7;
}

#network.disconnected {
  color: #eb6f92;
}

#custom-backup {
    color: #c0caf5;
}

#battery.warning {
    color: #ebbcba;
}

#battery.critical {
    color: #eb6f92;
}

