window {
  margin:	0px;
  padding: 0px;
  border-radius: 10px;
	background-image: linear-gradient(#ff8a00, #e52e71, rgba(24,24,24,0.9), rgba(24,24,24,0.9), rgba(24,24,24,0.9), rgba(24,24,24,0.9), rgba(24,24,24,0.9));
  color: snow;
  opacity: 0.95
}

#outer-box {
}

#input {
  font-size: 22px;
  opacity: 1;
  margin: 40px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(24,24,24,0.7);
  color: lightgray;
}

#input:focus {
  border: none;
  outline: none;
}

#input:active {
  border: none;
  outline: none;
}

#input:focus-visible {
  border: none;
  outline: none;
}

#scroll {
  font-size: 18px;
	background-color: rgba(24,24,24,0.2);
  list-style: none;
  padding: 10px 0px;
  opacity: 0.7;
}

#inner-box {
  padding: 20px;
}

#entry:selected {
  background-color: rgba(26,26,28,0.9);
  border-radius: 1rem;
  border: none;
}

#entry {
  border-radius: 1rem;
  padding: 10px;
}

#entry:active {
  border: none;
  outline: none;
  border-radius: 1rem;
}

#entry:focus {
  border: none;
  outline: none;
  border-radius: 1rem;
}

#entry:focus-visible {
  border: none;
  outline: none;
  border-radius: 1rem;
}
